/*
見出し
*/
.heading {
  color: #3c3c3c;
  text-align: center;
  text-decoration: underline #ccc;
}

/*
grid
*/
.flex-grid {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-item {
  text-align: center;
  margin: 4px;
  line-height: 200px;
  color: #fff;
  border-radius: 30px;
}

.grid-col4-item {
  width: calc(25% - 8px);
  background-color: #ff38ca;
}

.grid-col2-item {
  width: calc(50% - 8px);
  background-color: #f69608;
}

.grid-col6-item {
  width: calc(16% - 8px);
  background-color: #1b1b1b;
}
